@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html * {
    font-family: 'Open Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #ccc; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #f4f4f4 !important;
}

#side-drawer {
    height:100vh;
    width:336px;
    top:0;
    right:-336px;
    z-index:1032;
    transition:right 0.25s ease;
    display: block;
}

#dialog-side-drawer,
#dialog-side-drawer-create {
    height:72vh;
    width: 48%;
    top:146px;
    right:-48%;
    z-index:1032;
    transition:right 0.25s ease;
}

.btn-close,
.btn-close:hover, 
.btn-close:focus {
    color: #fff;
}

#side-drawer-void {
    height:100%;
    width:100%;
    top:0;
    z-index:1031;
    background: rgba(0,0,0,.6);
}

.usermenu a,
.usermenu a:focus {
    color: #fff;
    text-decoration: none;
}

.usermenu a:hover {
    color: #f4f4f4;
    text-decoration: none;
}

.blcard {
    border-left: 3px solid #007bff !important;
}

.card-options {
    cursor: pointer;
    padding: 0 0.5rem;
}

.w-95 {
    width: 95% !important;
}

.evidencia-card {
    border-color: brown !important;
    border-width: 3px !important;
}